<p id="notice"><%= notice %></p>

<br/>
<br/>
<div class="container">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr scope="row">
          <td><%= task.body %></td>
          <td><%= task.created_at.strftime("%F")%></td>
          <td><%= link_to "Show", category_task_path(@category, task.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>
  <div class="d-flex justify-content-end">
    <%= link_to "Add a note", new_category_task_path(@category), id:"btn-category-index", class:"btn btn-outline-secondary m-1" %>
    <%= link_to "Return", category_path(@category), id:"btn-category-index", class:"btn btn-outline-secondary m-1" %>
  </div>
</div>