<%= form_with model: [@category, @task], local: true do |f| %>
  <p>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>

      </ul>
    <% end %>
  </p>

  <div class="container mt-4">
    <div>
      <div class="form-group mb-3">
        <%= f.text_area :body, placeholder: "Place a note here", class:"form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <%= link_to "Back to your entries", categories_path, id:"new-note-link", class:"btn btn-outline-secondary"%>
      <%= f.submit %>
    </div>
  </div>

  
<% end %>